<!--
 first contariner (main container) -> "f-info"
 second container -> "f-info-SocialApps" -> apps (facebook , insta , linkedIn)
 Third container -> wanderlust private limited
 fourth container ->"f-info-links" -> <a>privacy  <a>terms




    so jo boilerplate.ejs me  *body* ke just niche footer ko include karo -> include("../includes/footer.ejs")
-->

<footer>
    <div class="f-info">
        <div class="f-info-SocialApps">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>


   <div class="f-info-name"> &copy WanderLust Private Limited  </div> 
  

    <div class="f-info-links">
        <a href="/privacy"> Privacy </a>
        <a href="/terms"> Terms </a>
    </div>
  </div>
</footer>