.env
node_modules/
Flow_to_Follow_the_Course
Phase1(DataBase_Relationships).txt
Phase1(a).txt
Phase1(b).txt
Phase1(c).txt
phase2(a).txt
Phase2(b).txt
Phase2(c).txt
Phase2(d).txt
Phase2(e).txt
Phase3(a).txt
Phase3(b).txt
Phase3(c).txt
Phase3(d).txt
uploads/