 <%- layout("/layout/boilerplate.ejs") %>

     <style>
        
         .btn {
            margin:0.5rem;
            background-color: #e9888e !important;
            color: white !important;
         }
    </style>


    <script>
        // Function to set the input value based on the selected option
        function updateCountryInput() {
            const selectedCountry = document.getElementById('GET-FROM-HERE').value;
            document.getElementById('PUT-HERE').value = selectedCountry;
        }
    </script>

    

    <div class="row mt-3"> <!--mt-3 -> margin-top : 3px-->
        <div class="col-8 offset-2" >     <!-- Bhai class row and col lagaya for for putting all things in center , col=8 yani agar scrren 12 me divide hai toh 8 tak hi consume karo iise length kam hogi , and offset-2 yani left and right se space kam kar di.-->
        
    <h3> Create a new Listing </h3>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
             name="listing[title]"
             placeholder="Enter title" 
             type="text"
             class="form-control"
             required >
             
             <div class="valid-feedback"> Title looks good </div>
        </div>
        
      

        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input 
            name="listing[Description]" 
            placeholder="Enter Description" 
            type="text"
            class="form-control"
            required >

            <div class="valid-feedback"> Good </div>
        </div>
      

        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input 
            name="listing[Price]" 
            placeholder="Enter Price" 
            
            class="form-control"
            required>
          
             <div class="invalid-feedback"> Price needs to be valid! </div>
             <div class="valid-feedback"> Good </div>
        </div>
       
      

        <div class="mb-3">
            <label for="Image" class="form-label">Upload file</label>
            <input
             name="listing[image]" 
             placeholder="Enter URL/Link" 
             type="file"
             class="form-control">  <!--So agar file naem nananihai toh same use karo image.filename-->
        </div>
       
      
 <div class="row">  
    
    <div class="mb-3 col-md-4">
        <label for="Location" class="form-label"> Location</label>
        <input 
        name="listing[Location]" 
        placeholder="Enter Location" 
        type="text"
        class="form-control"
        required>

        <div class="invalid-feedback"> Enter valid Location </div>
    </div>
   
   

    <div class="mb-3 col-md-8">
        <label for="Country" class="form-label"> Country </label>
        <input
         name="listing[Country]" 
         placeholder="Enter Country" 
         type="text" 
         id="PUT-HERE"
         class="form-control"
         required>

         <div class="invalid-feedback"> Enter valid country </div>

    </div>
  
</div>
       
    
   
        <select class="form-select" style="width:160px" type="country" id="GET-FROM-HERE"  onchange="updateCountryInput()">
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="Russia">Russia</option>
            <option value="UK">UK</option>
            <option value="Germany">Germany</option>
            <option value="France">FRANCE</option>
            <option value="Africa">Africa</option>
            <option value="Africa">Austrelia</option>
            <option value="Africa">Shri-lanka</option>
        </select>


        <button class="btn mt-3"> Add </button> <!--Bootstrap ka class laga diya btn btn-dark so bootstrap ki styling apply ho ispar bhi.-->

    </form>

   
 </div>
</div>

<script src="/js/script.js"></script>