body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container{
    flex:1;   /*For putting footer stick at bottom so jo body ke andar likha jai use bhi consider karna hai ye container class boilerplate me jo hai uska hai*/
}



/*Navbar*/
.navbar {
    height : 5rem;
    background-color: white;
}

.fa-compass {
   color : #fe424d;
   font-size: 2rem;
}

.nav-link {
    color : #222222 !important; /* for override the bootstrap ki css*/

}
.nav-link:hover{
    text-decoration: underline;
    color: #e9888e !important;
}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: blue;
}

.f-info-links , .f-info-SocialApps , .f-info-name{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-SocialApps i{
 font-size: 2rem;
 margin: 1.2rem;
}

.f-info{         /*main container isme theeno containers ka sapce change kar sakte hai. */
    text-align:center;
    height: 8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */
.card.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 1rem !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: inherit;
}

/* Card-Effect -> Overlay Effect */
.card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
    opacity: 0.2;
    background-color: white;
}


/*Show ejs*/
.show-image{
 height: 50vh;
}





/* Map */
#map {
    /* position: absolute;
    top : 0;
    bottom: 0;
    width: 100%; for whole page display*/ 

    height : 400px;
    width : 80vh;
}


/* Tax info. */

