<%- layout("/layout/boilerplate") %>
<div class="row mt-3 col-6 offset-3">
  <h1 class="col-6 offset-3"> SignUp On wonderLust </h1>

  <form action="/signup" method="Post" class="needs-validation" novalidate>
   
    <div class="mb-3">
        <label for="username" class="form-label"> Username </label>
        <input 
        name="username"
        class="form-control"
        id="username"
        type="text"
        required />

        <div class="valid-feedback"> Looks Good as for now </div>
    </div>

     <div class="mb-3">
        <label for="email" class="form-label" > Email </label>
        <input
        name="email"
        class="form-control"
        id="email"
        type="email"
        required />
     </div>

     <div class="mb-3">
        <label for="password" class="form-label"> Password </label>
        <input 
         name="password"
         class="form-control"
         id="password"
         type="password"
         required />

     </div>

     <button class="btn btn-success">Sign-Up</button>
  </form>
</div>